:root{
	--cor-Fundo: #393E46;
	--cor-Nav: #222831;
	--cor-Font: #00ADB5;
	--cor-secundaria: #EEEEEE;
}
body{
    background-color: var(--cor-Fundo);
    font-family: Rubik;
	color: var(--cor-Font);
}

header{
	display: flex;
	background-color: var(--cor-Nav);
	color: var(--cor-Font);
	align-items: center;
	height: 70px;
	width: 100vw;
}

figure{
	width: 15vw;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: flex-end;
	font-size: x-large;
	margin: 0;

}

p{
	margin: 0;
}
#logo{
	width: 50px;
	
}

nav{
	width: 70vw;
	height: 100%;
}

#nav{
	display: flex;
	height: 100%;
	justify-content: flex-end;
	align-items: center;
	
}

a:hover{
	color: var(--cor-secundaria);
}

nav ul li a {
	color: var(--cor-Font);
	text-decoration: none;
	transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
	color: var(--cor-secundaria); /* Cor de destaque ao passar o mouse */
	animation: pulse 3s infinite alternate; /* Adicionando animação */
  }

  nav ul li a {
	color: var(--cor-Font);
	text-decoration: none;
	position: relative; /* Adiciona posição relativa para links */
}

nav ul li a::after {
	content: '';
	position: absolute;
	bottom: -2px; /* Posiciona a linha abaixo do link */
	left: 0;
	width: 0%;
	height: 2px; /* Altura da linha */
	background-color: var(--cor-Font); /* Cor da linha */
	transition: width 0.3s ease; /* Transição da largura da linha */
}

nav ul li a:hover::after {
	width: 100%; /* Largura da linha ao passar o mouse */
}


.Link{
	text-decoration: none;
	color: var(--cor-Font);
	padding: 10px;
	font-size: larger;
}

#barra-top{
	
	width: 100%;
	margin-top: -15px;
}

.btn{
	background-color: var(--cor-Font);
	color: var(--cor-secundaria);
	width: 10vw;
	border: none;
	margin-left: 15px
}

.btn:hover{
	background-color: var(--cor-secundaria);
	color: var(--cor-Font);
	border: none;
	
}

.modal-content{
	background-color: var(--cor-secundaria);
	color: var(--cor-Nav);
}

.form-select{
	cursor: pointer;
}

#liveAlertBtn{
	background-color: gray;
	color: var(--cor-secundaria);
}

@keyframes pulse {
	from {
	  transform: scale(1);
	}
	to {
	  transform: scale(1.1);
	}
  }