.top{
    align-items: center;
    position: fixed;
    display: flex;
    width: 100%;
    background: hsla(0,0%,6%,.9);
    flex-wrap: wrap;
    
}

.navegacao{
  
  display: flex;
  flex-wrap: nowrap;
  column-gap: 3%;
  

}



.Inicio{
  text-align: center;
}

.Link{
  text-align: center;
}

.Titulo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4%  5%;
  text-align: center;
}

#s{
  display: flex;
  height: 74px;
}

.foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Abilidades{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}