
body{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(90deg,#151515,#000);
    font-family: Rubik;
	color: aliceblue;
}

hr{
	opacity: 3%;
}

header{
	height: 60px;
	font-size: 88%;
}
.top{
 	height: 60px;	
	
}

.navegacao{
	padding-right: 3%;
	width: 100%;
    justify-content: end;
	align-items: center;
}

.Logo{
	width: 22%;
	padding-left: 15px;
}

.Logotipo{
	height: 40px;
	

}


.Lista{
	width: 71%;
}

.Link{
	text-decoration: none;
	color: inherit;
}


.Ini{
	width: 100%;
    height: 460px;
	padding-top: 90px;
	
}

.Titulo{
	height: 570px;
}

.Titulo__p{
	color: #aaa;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 85%;
	line-height: 1.4;
	
}

.Titulo__h1{
	color: #fff;
	font-size: 145%;
    text-transform: uppercase;
}

.Titulo__h2{
	color: #fff;
	font-weight: bold;
	font-size: 145%;
	line-height: 1.4;
}

em{
	font-style: italic;
}

.p2{	
    margin-top: 1rem;
	text-align: center;

}

.Sobre{
	text-align: center;
   
}

#Sobre{
	padding-bottom: 100px;
}

.Mora{
	display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin-top: 10%;
}

.foto{
	width: 100%;
    height: 198px;
	padding-top: 40px;
	display: flex;
	align-items: center;
}

#fotoIsac{
	width: 190px;
	border-radius: 50%;
}

.Curriculo{
	text-align: center;
	
}

#curriculo{
	width: 100px;
    margin-top: 10px;
    background-color: hsla(0,0%,67%,.1);
	height: 50px;
	color: #fff;
}

#abilidades{
	height: 8rem;
}

.ab{
	color: #fff;
}

span{
	color: #aaa;
    cursor: default;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;

}

.Skills{
	display: flex;
	
    
}

.skills{
	display: flex;
    column-gap: 15px
}

.Skills__s{
	background: hsla(0,0%,67%,.1);
	border-radius: 10px;
    display: flex;
    padding: 10px;
    transition: all .5s;
}

.Projetos{
	text-align: center;
    
}



.P{
	padding-top: 70px;
}


.breve__foto{
	width: 100%;
}

.email{
	text-align: center;
}

.Contato{
	text-align: center;
	padding-top: 10%;
	
	
}

.Contato__Icones{
	
	display: flex;
	column-gap: 5%;
	justify-content: center;

	
}

.Icone{

	width: 50px;
    height: 50px
}

.copy{
	color: #aaa;
	font-size: small;
	text-align: center;

	padding-top: 50px;
}

@media (min-width:750px) {
	body{
		font-size: auto;
	}

	.ab{
		padding: 0 150px 0 150px;;
	}
	
	#abilidades{
		font-size: 18px;
	}

	.PR{
		font-size: 18px;
	
	}
}
