

.top{
	background: linear-gradient(darkgrey,aliceblue);
	padding: 50px;
	width: 940px;
}

.navegacao{
	display: flex;
	position: relative;
	margin-left: 60%;
	font-size: large;
	font-weight: bold;
	width: 50%;
}

.Inicio{
	padding-left: 5%;
	
	
}

.LinkIni{
	text-decoration: none;
	color: black;
}

.Sobre{
	padding-left: 5%;
	
}
.LinkSob{
	text-decoration: none;
	color: black;
}
.Projetos{
	padding-left: 5%;
	
}
.LinkPro{
	text-decoration: none;
	color: black;
}

.Abilidades{
	padding-left: 5%;
	
}

.LinkAbi{
	text-decoration: none;
	color: black;
}

.Ini{
	font-size: x-large;
    font-style: italic;
    padding: 10%;
    background-color: aliceblue;
	
}

.nome{
	font-size: 40px;
    font-weight: bold;
}
.BotaoLikedin:hover{
	cursor: pointer;
}

.BotaoLikedin{
	width: 240px;
	height: 30px;	
	background-color: #0077B5;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 5px;
}

.under{
	background: linear-gradient(aliceblue,darkgrey);
	width: 940px;
}

.Contato{
	position: relative;
	top: 60px;
}

.copy{
	text-align: center;
}



.Linkedin{
	position: relative;
    width: 5%;
    left: 90%;
    border-radius: 10px;
	
}

.Git{
	position: relative;
    width: 5%;
    left: 91%;  
    border-radius: 100px;
    
}



@media screen , (max-windth: 490px) {
	.top, .Ini , .under{
		width: auto;
	}
	.navegacao{
	width: auto;
	}
	body{
	width: auto;}
}

@media screen, (min-windth:940px) {
	.top, .Ini , .under{
		width: auto;
	}
	
}

